/* set 0 untuk padding dan margin */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


body {
    font-family: sans-serif;
    box-sizing: border-box;
}

/* mulai untuk header dan navbar */
header {
    background-color: #2f5167;
    color: white;
    padding: 20px 10px;
    width: 100%;
    height: 7vh;
    position: fixed;
    z-index: 300;
    box-sizing: border-box;
}

header .logo i {
    color: aquamarine;
}

header .logo {
    font-size: 30px;
    font-weight: bold;
    float: left;
    height: 60px;
    line-height: 10px;
}

header nav {
    float: right;
    display: flex;
}

header nav ul {
    margin: 0 25px;
    padding: 0;
    display: flex
}

header nav li {
    list-style: none;
    padding: 0 30px;
    height: 20px;
    line-height: 0px;
    font-size: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

header nav ul li:hover,
header nav ul li.active {
    background-color: rgb(200, 200, 223);
    transition: 2s;
}

/* buat button dark mode */
.tombol {
    /* position: fixed; */
    /* right: 65px;
	bottom: 130px; */
    transform: translateY(-7px);
    transition: transform 0.4s ease-in-out;
}


.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 15px;
    width: 40px;
    transform: scale(1.5);
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    height: 23px;
    width: 23px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
    transform: translateX(24px);
}


.bxs-moon {
    color: #f1c40f;
}

.bxs-sun {
    color: #f39c12;

}

/* tombol dark mode sampai sini */
body.dark {
    background: #292C35;
    color: #fff;
}

/* SOCIAL PANEL CSS */
.info_container {
    position: fixed;
    right: 0;
    bottom: 80px;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
}

.info_container.visible {
    transform: translateX(-10px);
}

.tabel_info {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 16px 31px -17px rgba(0, 31, 97, 0.6);
    border: 5px solid #001F61;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Muli';
    position: relative;
    height: 169px;
    width: 300px;
    max-width: calc(100% - 10px);
}

.tabel_info button.close-btn {
    border: 0;
    color: #97A5CE;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.tabel_info button.close-btn:focus {
    outline: none;
}

.tabel_info p {
    background-color: #001F61;
    border-radius: 0 0 10px 10px;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    padding: 2px 17px 6px;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
    text-align: center;
    width: 100px;
}

.tabel_info p i {
    margin: 0 5px;
}

.tabel_info p a {
    color: #FF7500;
    text-decoration: none;
}

.tabel_info h4 {
    margin: 20px 0;
    color: #97A5CE;
    font-family: 'Muli';
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.tabel_info ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.tabel_info ul li {
    margin: 0 10px;
}

.tabel_info ul li a {
    border: 1px solid #DCE1F2;
    border-radius: 50%;
    color: #001F61;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    text-decoration: none;
}

.tabel_info ul li a:hover {
    border-color: #FF6A00;
    box-shadow: 0 9px 12px -9px #FF6A00;
}

.tbl_info {
    color: white;
    text-decoration: none;
    background: transparent;
    border: none;
    transform: translateY(-8px);
    font-size: 18px;
    display: block;
    transform: translateX(100);
}


.tbl_info:focus {
    outline: none;
}

.floating-text {
    background-color: #001F61;
    border-radius: 10px 10px 0 0;
    color: #fff;
    font-family: 'Muli';
    padding: 7px 15px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 998;
}

.floating-text a {
    color: #FF7500;
    text-decoration: none;
}

/* Masuk ke konten utama */
#main {
    height: 200px;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../makanan.jpg);
    background-position: center;
    background-size: cover;
    /* background-color: rgb(241, 244, 243); */
    padding: 200px 50px 150px 70px;
}

.konten {
    margin-top: 0px;
    margin-bottom: 50px;
}

.konten h1 {
    color: white;
    text-align: left;
    font-size: 300%;
    opacity: 0.88;
    font-size: 70px;
}

.konten h2 {
    color: white;
    opacity: 0.81;
    font-size: 30px;
}


.section-title {
    border-bottom: 2px solid #dee7ec;
    padding-left: 80px;
    font-size: 40px;
}

.paketan {
    border-bottom: 2px solid #dee7ec;
    font-size: 28px;
    padding-bottom: 10px;
    margin-bottom: 100px;
    margin-top: 5%;

}

.paketan h3 {
    font-size: 25px;
    color: rgb(51, 52, 51);
}

.container {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    /* border: solid 2px; */
    /* justify-content: center; */
    flex-wrap: wrap;
    margin: 50px 0 0 0;
}

.jenis-paketan {
    width: 25%;
    display: flex;
    flex-direction: column;
    border: solid px;
    /* margin: 0 auto; */
}

.jenis-paketan img {
    /* width: 25vh; */
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.jenis-paketan p {
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
    padding: 0 auto;
}

.formulir-pesan {
    max-width: 700px;
    width: 100%;
    background: rgb(163, 161, 164);
    background: linear-gradient(0deg, rgba(163, 161, 164, 1) 12%, rgba(205, 198, 198, 1) 50%, rgba(149, 147, 147, 1) 100%);
    border-radius: 15px;
    border: solid;
    margin: 0 auto 90px auto;
    z-index: 5;
    color: #111;
    border: 5px solid #2e3940;
    padding: 25px 30px;
}

.formulir-pesan .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.formulir-pesan .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 60px;
    background: rgb(23, 22, 24);
}

.formulir-pesan .data-pesanan {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .data-pesanan .input-box {
    width: 40%;
    margin: 20px 0 12px 0;
}

.data-pesanan .input-box .data {
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
}

.data-pesanan .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.data-pesanan .input-box .pilih-menu {

    height: 20px;
    width: 30%;
}

form .button input {
    margin-top: 30px;
    height: 100%;
    width: 30%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    letter-spacing: 1px;
    background-color: #2f5167;
}

/* login-registrasi */
.container-login button {
    border-radius: 20px;
    border: 1px solid #2f5167;
    background-color: #2f5167;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.container-login button:active {
    transform: scale(0.95);
}

.container-login button:focus {
    outline: none;
}

.container-login button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

.container-login form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.container-login input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.container-login span{
    color: rgb(59, 214, 162);
}

.container-login {
    background-color: #fff;
    border: 2px solid aquamarine;
    border-radius: 10px;
    margin:50px auto;
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 400px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.login-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container-login.right-panel-active .login-container {
    transform: translateX(100%);
}

.registrasi-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container-login.right-panel-active .registrasi-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container-login.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: #2f5167;
    background: -webkit-linear-gradient(to right, #396480, #2f5167);
    background: linear-gradient(to right, #38607a, #2f5167);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container-login.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 auto;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.container-login.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container-login.right-panel-active .overlay-right {
    transform: translateX(20%);
}

/* login-registrasi */

/* about */
#about {
    width: 100%;
    border: solid 0px;
    margin: 0px 0;
    flex-direction: row;
}

#about h3 {
    padding-left: 10%;
    background-color: #2e3940;
    font-size: 30px;
    color: #e4ebf7;
}

.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 25px;
}

.about img {
    width: 30%;
}

.about p {
    font-size: 24px;
}

/* atur bagian footer */
footer {
    height: 120px;
    margin-top: px;
    padding-top: 50px;
    padding-right: 60px;
    background-color: #2f5167;
}

.footer-logo i {
    color: aquamarine;
}

.footer-logo {
    float: left;
    font-size: 32px;
    color: white;
    font-weight: bold;
}

.footer-list {
    float: right;
}

.footer-list li {
    list-style: none;
}

.footer-list li a {
    padding-bottom: 20px;
    color: white;
    text-decoration: none;
    display: block;
    font-size: 17px;
}

.footer-list li a:hover,
.footer-list li a.active {
    color: aquamarine;
    transition: 1s;
}

@media(max-width:600px) {
    header {
        background-color: #2f5167;
        color: white;
        padding: 20px 100px;
        width: 100%;
        height: 7vh;
        position: absolute;
        box-sizing: border-box;

    }

    header .logo i {
        color: aquamarine;
    }

    header .logo {
        font-size: 30px;
        font-weight: bold;
        float: left;
        height: 60px;
        line-height: 10px;
    }

    header nav {
        float: right;
    }

    header nav ul {
        margin: 0;
        padding: 0;
        display: flex;
    }

    header nav li {
        list-style: none;
        padding: 0 20px;
        height: 20px;
        line-height: 20px;
        font-size: 20px;
    }

    header nav ul li a {
        color: white;
        text-decoration: none;
        display: inline-block;
    }

    header nav ul li:hover,
    header nav ul li.active {
        background-color: rgb(200, 200, 223);
        transition: 2s;
    }

    /* Masuk ke konten utama */
    #main {
        height: 200px;
        background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../makanan.jpg);
        background-position: center;
        background-size: cover;
        /* background-color: rgb(241, 244, 243); */
        padding: 200px 50px 150px 70px;
    }

    .konten {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .konten h1 {
        color: white;
        text-align: left;
        font-size: 300%;
        opacity: 0.88;
        font-size: 70px;
    }

    .konten h2 {
        color: white;
        opacity: 0.81;
        font-size: 30px;
    }

    .contents {
        height: 500px;
        margin-top: 90px;
    }

    .section-title {
        border-bottom: 2px solid #dee7ec;
        padding-left: 80px;
        font-size: 40px;
    }

    .paketan {
        border-bottom: 2px solid #dee7ec;
        font-size: 28px;
        padding-bottom: 10px;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    .paketan h3 {
        font-size: 25px;
        color: rgb(51, 52, 51);
    }

    .container {
        width: 100%;
        display: flex;
        flex-direction: row;
        border: solid 0px;
        justify-content: center;
        flex-wrap: wrap;
        margin: 50px auto;
    }

    .jenis-paketan {
        width: 25%;
        border: solid px;

    }

    .jenis-paketan img {
        width: 100%;
        height: 300px;
    }

    .jenis-paketan p {
        font-size: 24px;
        margin-top: 10px;
        padding: 0 auto;
    }

    footer {
        padding-left: 10%;
    }
}